<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="TTAAdvanceSelFramework">
        <classes>
            <class name="com.tta.Test1">
                <methods>
                    <include name="test1"/>
                </methods>
            </class>
            <class name="com.tta.Test2">
                <methods>
                    <include name="test2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>